.md-main {
    background-color: var(--md-default-bg-color);
}

.md-content__inner {
    text-align: center;
}

.md-content__inner:before, .md-content h1 {
    display: none;
}

@media screen and (max-width:30em) {
    .tx-hero h1 {
        font-size: 1.4rem
    }
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }

    .tx-hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tx-hero__content {
        max-width: 22rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        margin-left: 1.0rem;
        margin-right: 4.0rem;
        align-items: center;
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }

    .resources-meta__main {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
        background-color: white;
    }

    .bottom-hr {
        margin-top: 10px;
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }

    .feature-item {
        flex: 1;
        min-width: 0;
    }

    .feature-item:hover {
        background-color: var(--md-primary-fg-color--glass);
        border-radius: 3px;
        cursor: pointer;
    }
}

.text-center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
}

.logos img {
    flex: 1 1 auto;
    padding: 25px;
    max-height: 130px;
    vertical-align: middle;
}

.hr-logos {
    margin-top: 0;
    margin-bottom: 30px;
}

.md-footer-meta__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.0rem;
}

.md-footer-social {
    padding-top: 20px;
}

.gluon-numbers {
    background: #ffffff;
    padding: 25px;
}


/* CLEAN CSS BELOW */
/* --- General attributes --- */
h1 {
    font-size:1.3rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size:1rem;
    font-weight: 450;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

md-container a:hover {
    color: var(--md-primary-fg-color);
}

.section-content {
    padding: 2rem;
}

.center-content {
    justify-content: center;
    display: flex;
    align-items: center;
}

.dot {
    height: 4px;
    width: 4px;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle
  }

  .btn {
    cursor: pointer;
    width: auto;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border: 0.1rem solid;
    vertical-align: middle;
    padding: 0.2rem 1rem;
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
    border-radius: 0.1rem;
}

.btn-dark {
    color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
}

.btn-dark:hover {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-fg-color--lighter);
}

.btn-light {
    color: var(--my-font-color--light);
    border-color: var(--my-font-color--light);
}

.btn-light:hover {
    background-color: var(--my-font-color--light);
    color: var(--my-font-color--accent);
}

.fader {
    opacity: 0;
}

.full-section {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

/* --- Hero attributes --- */
.hero-section {
    height: auto;   
    background: linear-gradient(to bottom, var(--md-primary-fg-color), var(--md-primary-fg-color--dark) 99%);
    position: relative;
    height: 70vh;
}

.tx-hero {
    margin: 32px 2.8rem;
    color: var(--md-primary-bg-color);
    height: 60vh;
    width: auto;
    position: absolute;
    top: auto;
    left: auto;
}

.tx-hero h1 {
    margin-bottom: 1rem;
    color: currentColor;
    font-size: 1.8rem;
    font-weight: 600;
}

.tx-hero p {
    color: white;
}

.tx-hero__content {
    padding-bottom: 3rem;
}

.tx-hero .md-button {
    margin-top: .5rem;
    margin-right: .5rem;
    color: var(--md-primary-bg-color);
}

.tx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    color: var(--md-primary-fg-color);
    border-color: var(--md-primary-bg-color)
}

.tx-hero .md-button:focus,
.tx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: white;
    border-color: var(--md-accent-fg-color)
}


/* --- Community resources --- */
.resources {
    background-color: white;
}

.resources-meta {
    display: block;
}

.resources-meta__header {
    text-align: center;
}

.resources-meta__main {
    margin-top: 42px;
}

.feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word;
}

.feature-item h2 {
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
}

.feature-item svg {
    height: 25px;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    transform: translateY(10%);
    fill: var(--my-font-color--dark);
}

.feature-item p {
    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 10px;
    display: block;
}

/* --- Discover Gluon --- */
.discover-gluon {
    background-color: var(--md-primary-fg-color--lighter);
}

.discover-gluon-meta {
    display: block;
    min-width: 70%;
    text-align: center;
}

.discover-gluon__header h1 {
    color: var(--md-primary-fg-color);
}

.discover-gluon__features {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 50px;
}

.discover-gluon__feature {
    float: left;
    width: 14.2%;
    text-align: center;
}

.discover-gluon__feature svg, .discover-gluon__features svg {
    fill: var(--md-primary-fg-color);
}

.discover-gluon__feature p {
    font-size: 18px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 10px;
    display: block;
    color: var(--md-primary-fg-color);
}

.discover-gluon__cta {
    padding: 1rem;
}

/* --- Stats --- */
.stats {
    background-color: white;
}

.stats-meta {
    text-align: center;
}

.counter {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 2rem;
}

.counter svg {
    fill: var(--my-font-color--dark);
}

.counter h2 {
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: 0.2rem;
    padding-top: 1rem;
}

.counter p {
    font-weight: 600;
}

/* --- Join the community --- */
.join-community {
    /* background-image: radial-gradient(circle at -48% 130%, rgb(92, 140, 202) 24%, var(--md-primary-fg-color--light) 80%); */
    /* background-color: var(--md);
    background-image: linear-gradient(135deg, var(--md-primary-fg-color--dark) 0%, var(--md-primary-fg-color) 46%, #ffbd96 100%); */
    background-image: linear-gradient(to right top, #f7ada5, #f79e95, #f78e85, #f57e75, #f36d66, #f46776, #f26386, #ed6296, #d878bf, #b88ed9, #98a1e4, #83afe1);

}

.join-community__meta {
    text-align: center;
    max-width: 50%;
}

.join-community__meta h1 {
    color: var(--my-font-color--light);
    padding-bottom: 1rem;;
}

.join-community__meta h2 {
    color: var(--my-font-color--light);
    font-weight: 100;
    padding-bottom: 1rem;
}

/* --- Footer attributes --- */
.footer {
    background-color: var(--md-footer-bg-color);
    text-align: left;
    position: relative;
}

.footer-meta {
    padding: 2rem;
    color: var(--md-footer-fg-color);
    min-width: 60%;
}

.footer h2 {
    margin-bottom: 10px;
    color: white;
}

.content-column {
    flex: 1;
    padding: 1rem;
}

.footer a {
    color: var(--md-accent-bg-color--light);
}

.footer a:hover {
    color: var(--md-primary-fg-color);
}

.footer__main {
    margin-top: 0px;
}

.footer__main a {
    margin-top: 0.3rem;
    width: fit-content;
    display: block;
}

.footer__main a:hover {
    margin-top: 0.3rem;
}

.footer__base {
    padding-top: 2rem;
}

.footer__base a {
    display: inline;
}

.footer__base p {
    text-align: center;
    font-weight: 500;
}
